<div role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        Cranking out code
      </h3>
      <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
      <%= render @blogs %>
      <%= paginate @blogs %>
      <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>

    </div>

    <div class="col-md-4 blog-sidebar">
      <%= render 'shared/blog_sidebar' %>
    </div>

  </div>
</div>

<p id="notice"><%= notice %></p>
