<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <h3>Location</h3>
    <p>Greater Boston Area</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "5082726513" %></p>
    <h3>Email</h3>
    <p><a href="mailto:joecollins139@gmail.com?subject=PortfolioContact" "email me"></a>JoeCollins139@Gmail.com</p>
  </div>
  <div class="col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188820.8
    0628965105!2d-71.1107120655722!3d42.31426428283762!2m3!1f0!2f0!3f0!3m2!1i102
    4!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C
    +MA!5e0!3m2!1sen!2sus!4v1552489756820" width="600" height="450" frameborder="0"
    style="border:0" allowfullscreen></iframe>
  </div>
</div>





<!-- <p><%= number_to_phone "5082726513" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "109028978435" %></p> -->
